{% extends 'base.html' %}

{% block title %}Курсы{% endblock %}

{% block content %}
    <h2>Список курсов</h2>
    <ul>
        {% for course in courses %}
            <li>
                <strong>{{ course.name }}</strong> —
                {{ course.start_date }} до {{ course.end_date }}
                <a href="{% url 'course_edit' course.pk %}">редактировать запись/</a>
                <a href="{% url 'course_delete' course.pk %}">удалить</a>
            </li>
        {% empty %}
            <li>Нет курсов</li>
        {% endfor %}
    </ul>

    <div class="add_button"><a href="{% url 'course_add' %}"> Добавить курс</a></div>
{% endblock %}