{% extends 'base.html' %}

{% block title %}Журнал оценок{% endblock %}

{% block content %}
    <h2>Журнал оценок</h2>
    {% if grades %}
        <table border="1">
            <thead>
                <tr>
                    <th>Студент</th>
                    <th>Курс</th>
                    <th>Оценка</th>
                    <th>Дата</th>
                </tr>
            </thead>
            <tbody>
                {% for grade in grades %}
                <tr>
                    <td>{{ grade.person.name }} {{ grade.person.surname}}</td>
                    <td>{{ grade.course.name }}</td>
                    <td>{{ grade.grade }}</td>
                    <td>{{ grade.date }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Оценок пока нет.</p>
    {% endif %}
{% endblock %}
