{%extends 'base.html' %}

{%block title%} редактировать запись {%endblock%}


{% block content %}
    <h2>Редактировать запись</h2>
    <form  class="persons_forms" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %} <!-- защита от поддельных урл, когда форм-ся форма вкладывается защищенный токен и если ответ приходит с этим токеном - все ок -->
        {{form.as_p}} <!-- сам распаковывает форму -->
        <button type="submit">Сохранить</button>
        <a href="{% url 'student_list' %}">Отмена</a>
    </form>

{% endblock %}