{%extends 'base.html' %}

{%block title%} Удаление записи {%endblock%}


{% block content %}
    <h2>удаление {{object.name}} {{object.surname}}</h2> <!-- object — это автоматически переданный удаляемый объект -->
    <form  method="post">
        {% csrf_token %} <!-- защита от поддельных урл, когда форм-ся форма вкладывается защищенный токен и если ответ приходит с этим токеном - все ок -->
        <p>Вы уверены, что хотите удалить этого студента?</p>
        <button type="submit">Да, удалить</button>
        <a href="{% url 'student_list' %}">Отмена</a>
    </form>

{% endblock %}